.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: '#010101';
  flex-direction: column;
}

button {
  padding: 10px 15px;
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
  border: 1px solid rgb(179, 176, 176);
  background-color: rgb(204, 199, 199);
}
button:hover {
  background-color: rgb(177, 172, 172);
}
.contacts .contact {
  font-size: 16px;
  font-weight: bold;
}
.filter {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.numberList {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.number {
  margin-right: 15px;
}
.contactItem {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.deleteBtn {
  width: 30px;
  height: 30px;
  font-size: 14px;
  display: inline-block;
  padding: 3px;
}
.contact_name {
  margin: auto;
}
.content_text {
  margin-bottom: 25px;
}
.new_contact_btn {
  margin-bottom: 25px;
}
